* 
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body 
{
    font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: 16px;
}

#root 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page h1 
{
    margin: 0;
    line-height: 1.5;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #000;
}

.page h1 strong 
{
    font-weight: 700;
}

.page h2
{
    margin: 0;
    line-height: 1.5;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    color: #000;
}

.page h2 strong 
{
    font-weight: 700;
}

.page p 
{
    margin: 0;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

.logo + p 
{
    margin-top: 6px;
}

.links span,
.links a 
{
    display: inline-block;
    vertical-align: middle;
}

.links span 
{
    color: #999;
}

.links span::after 
{
    content: "·";
}

.links a 
{
    margin: 0 9px;
    color: #777;
    text-decoration: none;
    border-bottom: 1px dashed #ccc;
}

.links a:hover 
{
    color: #333;
    border-bottom-color: transparent;
}

.page .copyinfo 
{
    margin-bottom: 3em;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    text-align: center;
}
